.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.part-one {
  background-color: goldenrod;
}


.stateless {
  background-color: dodgerblue;
}

.stateless h2 {
  color: white;
  padding: 10px;
}

.nested {
  background-color: #8e2bd5;
  padding: 20px;
  font-weight: bold;
}

.composition {
  background-color: white;
  border: solid 10px #cd0000;
}

.default-props {
  padding: 5px;
  background-color: #2cd4bb;
}

.stateful {
  padding: 20px;
  background-color: rgb(215, 103, 12);
}

.clicker {
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: blue;
}

.form {
  padding: 20px;
  background-color: #a64092;
}
.form input {
  padding: 20px;
}
.form select {
  padding: 20px;
  margin: 20px;
}

.form button {
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: red;
}

.lifecycle {
  background-color: rgb(90, 195, 8);
  padding: 20px;
}
